@import './media.css';

.table-emulate {
    display: table;
    table-layout: fixed;
    > div, > ul {
        display: table-cell;
    }
    li {
        display: block;
    }
    &--middle {
        > div {
              vertical-align: middle;
        }
    }
    &--top {
        > div {
              vertical-align: top;
        }
    }
    &--bottom {
        > div {
              vertical-align: bottom;
        }
    }
}
.inline-block {
    display: inline-block;
}
.justify {
    text-align: justify;
    margin-bottom: -1.2em;
    * {
        text-align: left;
    }
    > div {
    display: inline-block;
    }
    &::after {
    content: '';
    display: inline-block;
    height: 0;
    width: 100%;
    visibility: hidden;
    overflow: hidden;
    }
    &.vert-middle
    {
        > div
        {
            vertical-align: middle;
        }
    }
    &.vert-top
    {
        > div
        {
            vertical-align: top;
        }
    }
    &.vert-bot
    {
        > div
        {
            vertical-align: bottom;
        }
    }
}
.cell-emulate
{
    display: table-cell;
}
.align-right
{
    text-align: right;
}
.align-left
{
    text-align: left;
}
.align-center
{
    text-align: center;
}
.full
{
    width: 100%;
}
.float-left
{
    float: left;
}
.float-right
{
    float: right;
}

.no-padding {
    padding: 0;
}
.no-padding-important {
    padding: 0 !important;
}
.no-padding-right {
    padding-right: 0;

}
.no-padding-left {
    padding-left: 0;
}
.relative {
    position: relative;
}
.no-margin {
    margin: 0;
}
.no-border-top {
    border-top: 0 !important;
}
.rounded {
    border-radius: 100%;
}

.bold {
    font-family: "Roboto";
}

.big-zindex {
    z-index: 500;
}

.white-back {
    background: white;
}

.vert-middle {
    vertical-align: middle;
}
.vert-top {
    vertical-align: top;
}

.wrapper {
    max-width: 1300px;
    margin: auto;
    width: 100%;
}

.half-width {
    width: 50%;
}

.absolute-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.overflow-x-hidden {
    overflow-x: hidden;
}

.hidden {
    display: none !important;
}

.space-between {
    justify-content: space-between;
}

.margin-auto {
    margin: auto;
    display: block;
}

.desktop-hidden{
  display: none !important;
  @media(--mobile){
    display: block !important;
  }
}

.mobile-hidden{
  @media(--mobile){
    display: none !important;
  }
}
