@import "./colors.css";

@define-mixin orangeBorderBottom {
  border-bottom: 1px solid var(--orange-light);
  transition: border .3s;

  &:hover{
    border-bottom: 1px solid transparent;
  }
}

@define-mixin inlineBlockVerticalMiddle {
  font-size: 0;
  text-align: center;

  &::after{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
  }

  img{
    display: inline-block;
    vertical-align: middle;
  }
}