.b-form{
  max-width: 640px;
}

.b-form__item{
  margin-bottom: 20px;
}

.b-form__textfield{
  margin-bottom: 20px;
  line-height: 1.2;
}

.b-form__textfield-bottom{
  margin-top: 20px;
  line-height: 1.2;
}