.b-sort{
    padding: 20px 0;
    margin-bottom: 30px;
}
.b-sort__wrap{
    display: flex;
}
.b-sort__sort{
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
}
.b-sort__item{
    display: flex;
    align-items: center;
}
.b-sort__item:not(:first-child){
    margin-left: 25px;
}
.b-sort__options{
    display: flex;
}
.b-sort__option{
    margin-left: 12px;
    display: inline-block;
    flex: 0 0 auto;
}
.b-sort__option.active{
    font-weight: bold;
}
.b-sort__types{
    margin-left: auto;
    flex: 0 0 auto;
}
.b-sort__select{
    margin-left: 12px;
}