.catalog-type {
    width: 13px;
    height: 13px;
    position: relative;
    color: #ccc;
    display: inline-block;
    vertical-align: middle;
}

.catalog-type:not(:last-of-type) {
    margin-right: 22px
}

.catalog-type.active,.catalog-type:hover {
    color: red
}

.catalog-type--table .catalog-type__line {
    width: 3px;
    right: 0;
    margin: auto
}

.catalog-type--table .catalog-type__line:after,.catalog-type--table .catalog-type__line:before {
    width: 3px
}

.catalog-type--table .catalog-type__line:before {
    left: -5px
}

.catalog-type--table .catalog-type__line:after {
    right: -5px
}

.catalog-type--line .catalog-type__line {
    width: 3px
}

.catalog-type--line .catalog-type__line:after {
    width: 8px;
    left: 5px
}

.catalog-type__line {
    position: absolute;
    height: 3px;
    background-color: currentColor;
    left: 0
}

.catalog-type__line:after,.catalog-type__line:before {
    content: "";
    position: absolute;
    height: 3px;
    background-color: currentColor;
    top: 0
}

.catalog-type__line:first-of-type {
    top: 0
}

.catalog-type__line:nth-of-type(2) {
    top: 5px
}

.catalog-type__line:nth-of-type(3) {
    top: 10px
}