.checkbox__input{
  display: none;
}
.checkbox__input:checked + label .checkbox__box{
  background-color: red;
  border: 1px solid red;
}
.checkbox__input:checked + label .checkbox__box-element{
  opacity: 1;
}
.checkbox__label{
  display: flex;
}
.checkbox__box{
  width: 16px;
  height: 16px;
  flex: 0 0 16px;
  max-width: 16px;
  border: 1px solid #d5d5d5;
  display: block;
  position: relative;
  transition: all .15s;
}
.checkbox__text{
  font-family: 'PNL', sans-serif;
  margin-left: 10px;
}
.checkbox__box-element{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  transition: all .3s;
}
.checkbox__box-element::after, .checkbox__box-element::before{
  content: '';
  position: absolute;
  transform-origin: bottom;
  background-color: #fff;
  width: 2px;
  left: 5px;
  bottom: 4px;
}
.checkbox__box-element::after{
  height: 8px;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}
.checkbox__box-element::before{
  height: 4px;
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
}