.counter__wrap{
  display: flex;
  height: 40px;
  border: 1px solid #cfcfcf;
  background-color: #ffffff;
  transition: all .5s;
}
.counter__wrap.error{
  border: 1px solid red;
}
.counter__btn{
  background-color: transparent;
  flex: 0 0 45px;
  position: relative;
  height: 100%;
  display: block;
  cursor: pointer;
  color: black;
  transition: color .3s;
}
.counter__btn::before, .counter__btn::after{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 11px;
  height: 1px;
  background-color: currentColor;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.counter__btn::after{
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.counter__btn--minus::after{
  display: none;
}
.counter__btn--minus::before{
  width: 14px;
}
.counter__input-wrap{
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}
.counter__input{
  width: 100%;
  height: 100%;
  text-align: center;
  display: block;
}