.pagination__item{
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.pagination__item:not(:last-child){
  margin-right: 5px;
}
.pagination__step{
  position: relative;
  width: auto;
}
.pagination__step--arrow{
  width: 30px;
}
.pagination__step--arrow::before, .pagination__step--arrow::after{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: currentColor;
  height: 1px;
  width: 8px;
  -webkit-transform-origin: right;
  transform-origin: right;
}
.pagination__step--arrow::before{
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.pagination__step--arrow::after{
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.pagination__step--prev::after, .pagination__step--prev::before{
  -webkit-transform-origin: left;
  transform-origin: left;
}
.pagination__dots{
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 2px;
  font-size: 16px;
  margin-right: 5px;
}