.product-list__wrap{
    padding: 15px;
    width: 100%;
    border: 1px solid #e1e1e1;
    position: relative;
    display: flex;
}
.product-list__labels{
    position: absolute;
    top: 0px;
    left: 10px;
}
.product-list__image{
    display: flex;
    align-items: center;
    flex: 0 0 245px;
    max-width: 245px;
    padding-right: 30px;
    text-align: center;
    justify-content: center;
}
.product-list__image-wrap{
    display: block;
    width: 100%;
}
.product-list__cart{
    flex: 0 0 390px;
    max-width: 390px;
    padding-left: 45px;
}
.product-list__content{
    flex: 1 1 calc(100% - 390px);
    width: calc(100% - 390px);
    max-width: calc(100% - 390px);
}
.product-list__title{
    line-height: 1.375;
    margin-bottom: 13px;
}
.product-list__price-old{
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.product-list__price-old::after{
    content: '';
    height: 1px;
    left: 0;
    right: 0;
    background-color: grey;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
}
.product-list__counter{
    margin-bottom: 5px;
}
.product-list__buttons{
    margin-top: 33px;
    display: flex;
    align-items: center;
}
.product-list__button{
    flex: 0 0 50%;
    max-width: 50%;
}
.product-list__button .btn{
    width: 100%;
}
.product-list__button:not(:last-of-type){
    margin-right: 20px;
}
.product-list__inner{
    flex: 1 1 auto;
    display: flex;
}