.textarea-text{
  border: 1px solid #d5d5d5;
  padding: 10px;
}

.b-form__textfield{
  margin-bottom: 20px;
  line-height: 1.2;
}

.b-form__textfield-bottom{
  margin-top: 20px;
  line-height: 1.2;
}